<p>Rating: <div class="review-rating" data-score="<%= review.rating %>"></div></p>
<p>By: <%= review.user.email %></p>
<p><%= review.comment %></p>

<% if user_signed_in? %>
	<% if review.user_id == current_user.id %>
		<div class="btn-group-sm">
			<button type="button" class="btn btn-default"><%= link_to "Edit", edit_book_review_path(review.book, review) %></button>
			<button type="button" class="btn btn-default"><%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: {confirm: "Are you sure you want to delete your review?"} %>
			</button>
		</div>
	<% end %>
<% end %>
<hr>
