<form><h1>Edit Review</h1>
<h2><%= @book.title %></h2></form>


<%= simple_form_for ([@book, @review]) do |f| %>
	<%= f.input :rating %>
	<%= f.input :comment %>
	<%= f.button :submit %>
<% end %>

<!--<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>-->